
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <style>
        *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        .cold{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        main{
          display: flex;
          flex: 2;
        }
        header, footer{
          flex: 1;
        }

    </style>
    
    <link rel="stylesheet" href="../../public/style.css">
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <div class="container">
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../public/media/lol.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../public/media/Clair-Obscur-Expedition-33.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../public/media/rdr2.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
              <div class="row mt-3">
                  <div class="col cold">
                      <div class="redondo"></div>
                  </div>
                  <div class="col cold">
                      <div class="redondo">
                      </div>
                  </div>
                  <div class="col cold">
                      <div class="redondo"></div>
                  </div>
              </div>
              <div class="row mt-3">
                  <div class="col cold">
                      <div class="redondo"></div>
                  </div>
                  <div class="col cold">
                      <div class="redondo"></div>
                  </div>
                  <div class="col cold">
                      <div class="redondo"></div>
                  </div>
              </div>
              <div class="row mt-3">
                  <div class="col cold">
                      <div class="redondo">
                  </div>
              </div>
                <div class="col cold">
                    <div class="redondo"></div>
                </div>
                <div class="col cold">
                    <div class="redondo"></div>
                </div>
              </div>
          <div class="container mt-5">
            <div class="row g-4">
              <% jogos.forEach(jogo => { %>
                <div class="col-md-3 d-flex">
                  <div class="card shadow-sm flex-fill">

                  
                    <img src="<%= jogo.imagemURL %>" class="card-img-top" alt="<%= jogo.titulo %>" style="height: 200px; object-fit: cover;">

                    <div class="card-body">
                      
                      <h5 class="card-title"><%= jogo.titulo %></h5>

                      
                      <p class="card-text fw-bold text-success">
                        R$ <%= jogo.preco %>
                      </p>

                      
                      <p class="card-text text-muted" style="font-size: 0.9rem;">
                        <%= jogo.descricao.substring(0, 80) %>...
                      </p>

                      
                      <form action="/carrinho/adicionar" method="POST">
                        <input type="hidden" name="idJogo" value="<%= jogo.id %>">
                        <button class="btn btn-primary w-100">Adicionar ao Carrinho</button>
                      </form>

                    </div>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>

          
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    </main>
    </body>

    <footer>
      <%- include("../partials/footer") %>
    </footer>

</html>

